<div>
  <h2>创建试卷</h2>
  <nz-space nzDirection="vertical">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="status">所属课程</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 360px" [(ngModel)]="selectCourse" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
          <nz-option *ngFor="let i of courseOptions" [nzLabel]="i.text" [nzValue]="i"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-space-item>
      <nz-form-label nzRequired>试卷名称</nz-form-label>
      <input type="text" nz-input placeholder="试卷名称" [(ngModel)]="name" />
    </nz-space-item>
    <nz-space-item>
      <nz-form-label>试卷介绍</nz-form-label>
      <textarea type="text" nz-input nzAutosize placeholder="试卷介绍" [(ngModel)]="description"></textarea>
    </nz-space-item>
  </nz-space>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancle()">取消</button>
    <button nz-button nzType="primary" (click)="ok()">确认</button>
  </div>
</div>
