<div>
  <h2>添加到试卷</h2>
  <nz-form-item>
    <nz-form-label nzFor="status">所属试卷</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 360px" [(ngModel)]="selectExam" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
        <nz-option *ngFor="let i of examOptions" [nzLabel]="i.text" [nzValue]="i"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancle()">取消</button>
    <button nz-button nzType="primary" (click)="ok()">确认</button>
  </div>
</div>
