<page-header></page-header>
<span>试题类型 :</span>
<span>{{ question.type === 1 ? '单选' : question.type === 2 ? '多选' : '' }}</span>
<br />
<br />
<span>{{ question.id + ' 试题题目 :' }}</span>
<br />
<br />
<div *ngFor="let content of [question.content]">
  <span mathjax>{{ content }}</span>
</div>
<br />
<br />
<div *ngIf="question.imageUrl">
  <span>试题图片 :</span>
  <br />
  <img [src]="'http://qm2wx81ov.hn-bkt.clouddn.com/question-' + question.id + '-' + question.imageUrl" />
  <br />
  <br />
</div>
<span>选项 :</span>
<div>
  <nz-radio-group [(ngModel)]="radioValue" *ngFor="let answer of answerList; let i = index">
    <label mathjax nz-radio [nzValue]="i" (click)="selectAnswer(answer)">{{ answer.content }} </label>
  </nz-radio-group>
</div>
<br />
<br />
<div *ngIf="showRightAnswer">
  <span>答案 :</span>
  <div mathjax>
    {{ rightAnster.content }}
  </div>
  <span>解析 :</span>
  <div mathjax>
    {{ question.explanation }}
  </div>
</div>
<button nz-button nzType="default" (click)="lastQuestion()">上一题</button>
<button nz-button nzType="primary" (click)="nextQuestion()">下一题</button>
