<page-header></page-header>
<nz-space nzDirection="vertical">
  <nz-space-item>
    <nz-form-label>试题类型</nz-form-label>
    <span>{{ question.type === 1 ? '单选' : question.type === 2 ? '多选' : '' }}</span>
  </nz-space-item>
  <nz-space-item>
    <nz-form-label>试题题目</nz-form-label>
    <div *ngFor="let content of [question.content]">
      <p mathjax>{{ content }}</p>
      <img nz-image *ngIf="question.imageUrl" [nzSrc]="http.getImageUrl(question.imageUrl)" />
    </div>
  </nz-space-item>
  <nz-space-item class="select-box" *ngIf="question.type === 1">
    <nz-form-label>选项</nz-form-label>
    <div>
      <nz-radio-group [nzDisabled]="showRightAnswer" [(ngModel)]="radioValue" *ngFor="let answer of answerList; let i = index">
        <label mathjax nz-radio [nzValue]="i" (click)="selectAnswer(answer)">
          <span [ngClass]="{ 'color-green': showRightAnswer && answer.isSelected }">
            {{ answer.content }}
          </span>
        </label>
      </nz-radio-group>
    </div>
  </nz-space-item>
  <nz-space-item class="select-box" *ngIf="question.type === 2">
    <nz-space nzDirection="vertical">
      <nz-space-item>
        <nz-form-label>选项</nz-form-label>
        <nz-space-item *ngFor="let answer of answerList">
          <label [nzDisabled]="showRightAnswer" class="margin-right" nz-checkbox [(ngModel)]="answer.userSelected"></label>
          <span [ngClass]="{ 'color-green': showRightAnswer && answer.isSelected }">
            {{ answer.content }}
          </span>
        </nz-space-item>
      </nz-space-item>
    </nz-space>
  </nz-space-item>
  <div *ngIf="showRightAnswer">
    <nz-space-item>
      <nz-form-label>解析</nz-form-label>
      <div mathjax>
        {{ question.explanation }}
      </div>
    </nz-space-item>
  </div>
</nz-space>
<div>
  <button nz-button nzType="default" (click)="lastQuestion()">上一题</button>
  <button nz-button nzType="primary" (click)="nextQuestion()">下一题</button>
  <button *ngIf="question.type === 2" nz-button nzType="primary" (click)="selectMutilAnswer()">确定</button>
</div>
<div class="margin-top">
  <label class="margin-right color-gray" nz-checkbox [(ngModel)]="autoNext">答对自动下一题</label>
  <span class="margin-right">
    <span class="color-gray">答对:</span>
    <span class="color-green">{{ rightCount }}题</span>
  </span>
  <span>
    <span class="color-gray">答错:</span>
    <span class="color-red">{{ falseCount }}题</span>
  </span>
</div>
<div class="index-box">
  <div
    [ngClass]="{ 'gray-backgroud': questionIndex + 1 == index }"
    (click)="nextQuestionByIndex(index)"
    class="index-box-item"
    *ngFor="let index of getAllIndex()"
  >
    {{ index }}
  </div>
</div>
