nz-radio-group {
  display: block;
}
img {
  height: 200px;
  alt: '试题图片';
}
.margin-right {
  margin-right: 8px;
}
.margin-top {
  margin-top: 16px;
}
.color-gray {
  color: gray;
}
.color-green {
  color: green;
}
.color-red {
  color: red;
}
