<div>
  <h2>创建课程</h2>
  <nz-space nzDirection="vertical">
    <nz-space-item>
      <nz-form-label nzRequired>课程名称</nz-form-label>
      <input type="text" nz-input placeholder="课程名称" [(ngModel)]="name" />
    </nz-space-item>
    <nz-space-item>
      <nz-form-label>课程介绍</nz-form-label>
      <textarea type="text" nz-input nzAutosize placeholder="课程介绍" [(ngModel)]="description"></textarea>
    </nz-space-item>
  </nz-space>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancle()">取消</button>
    <button nz-button nzType="primary" (click)="ok()">确认</button>
  </div>
</div>
