<div class="alain-default__content-title">
  <h1>
    <a (click)="goExams()" nz-icon nzType="left" nzTheme="outline"></a>
    试卷: {{ examId }}-{{ examName }}
  </h1>
</div>

<button nz-button (click)="importRow()" [nzType]="'primary'">
  <span>添加试题</span>
</button>
<ng-container *ngIf="setOfCheckedId.size > 0">
  <button
    nz-button
    nz-popconfirm
    nzPopconfirmTitle="确定移除该资源?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteAll()"
    (nzOnCancel)="cancelDelete()"
  >
    批量移除
  </button>
</ng-container>
<div class="my-md">
  <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
    <ng-template #message>
      已选择
      <strong class="text-primary">{{ setOfCheckedId.size }}</strong> 项&nbsp;&nbsp;
      <a *ngIf="setOfCheckedId.size > 0" (click)="clearCheck()" class="ml-lg">清空</a>
    </ng-template>
  </nz-alert>
</div>
<nz-table nzShowSizeChanger [nzData]="listOfData" nzTableLayout="fixed" #editRowTable>
  <thead>
    <tr>
      <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>试题ID</th>
      <th nzColumnKey="type" [nzFilters]="filterType" [nzFilterMultiple]="false" [nzFilterFn]="true">试题类型</th>
      <th>试题内容</th>
      <th nzColumnKey="chapter_id" [nzFilters]="filterChapterId" [nzFilterMultiple]="false" [nzFilterFn]="true">章节ID</th>
      <th nzColumnKey="createdAt" [nzSortFn]="true">创建时间</th>
      <th nzColumnKey="updatedAt" [nzSortFn]="true">修改时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <ng-container>
        <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.id }}</td>
        <td>{{ data.type === 1 ? '单选' : data.type === 2 ? '多选' : '' }}</td>
        <td mathjax>{{ data.content }}</td>
        <td>{{ data.chapterId }}</td>
        <td>{{ data.createdAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
        <td>{{ data.updatedAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
        <td>
          <a
            nz-popconfirm
            nzPopconfirmTitle="确定移除该资源?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteRow(data.id)"
            (nzOnCancel)="cancelDelete()"
            >移除</a
          >
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>
