<div>
  <h2>创建章节</h2>
  <form nz-form [formGroup]="validateForm">
    <nz-space nzDirection="vertical">
      <nz-form-item>
        <nz-form-control nzErrorTip="所属课程必选!">
          <nz-form-label nzRequired nzFor="status">所属课程</nz-form-label>
          <nz-select style="width: 360px" formControlName="selectCourse" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
            <nz-option *ngFor="let i of courseOptions" [nzLabel]="i.text" [nzValue]="i"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="章节名称长度3到128!">
          <nz-form-label nzRequired>章节名称</nz-form-label>
          <input type="text" nz-input placeholder="章节名称" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="章节介绍长度最大为512!">
          <nz-form-label>章节介绍</nz-form-label>
          <textarea type="text" nz-input nzAutosize placeholder="章节介绍" formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="cancle()">取消</button>
      <button nz-button nzType="primary" (click)="ok()">确认</button>
    </div>
  </form>
</div>
