<div class="alain-default__content-title">
  <h1>
    主页
    <small>欢迎使用 !</small>
  </h1>
</div>

<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false">
      <h3>老师自主定义试题系统</h3>
      <p class="text-grey">一个老师可以自由定义试题考试的系统</p>
      <ol class="list-styled text-lg pt-md">
        <li>课程管理</li>
        <li>章节管理</li>
        <li>试题管理</li>
        <li>试卷管理</li>
      </ol>
      <p class="pt-md mb0">
        <a class="text-grey" href="//github.com/liuweichen" target="_blank">View Site...</a>
      </p>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false">
      <h3>学生练习试题系统</h3>
      <p class="text-grey">一个学生可以练习试题完成考试的系统</p>
      <ol class="list-styled text-lg pt-md">
        <li>查看老师</li>
        <li>课程练习</li>
        <li>章节练习</li>
        <li>试卷练习</li>
      </ol>
      <p class="pt-md mb0">
        <a class="text-grey" href="//github.com/liuweichen" target="_blank">View Site...</a>
      </p>
    </nz-card>
  </div>
</div>
