<page-header></page-header>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th [nzSortOrder]="chapterIdColumn.sortOrder" [nzSortFn]="chapterIdColumn.sortFn" [nzSortDirections]="chapterIdColumn.sortDirections">
        章节ID
      </th>
      <th>章节名称</th>
      <th>章节介绍</th>
      <th
        [nzSortOrder]="courseIdColumn.sortOrder"
        [nzSortFn]="courseIdColumn.sortFn"
        [nzSortDirections]="courseIdColumn.sortDirections"
        [nzFilterMultiple]="courseIdColumn.filterMultiple"
        [nzFilters]="courseIdColumn.listOfFilter"
        [nzFilterFn]="courseIdColumn.filterFn"
      >
        课程ID
      </th>
      <th
        [nzSortOrder]="createTimeColumn.sortOrder"
        [nzSortFn]="createTimeColumn.sortFn"
        [nzSortDirections]="createTimeColumn.sortDirections"
      >
        创建时间
      </th>
      <th
        [nzSortOrder]="updateTimeColumn.sortOrder"
        [nzSortFn]="updateTimeColumn.sortFn"
        [nzSortDirections]="updateTimeColumn.sortDirections"
      >
        修改时间
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.courseId }}</td>
      <td>{{ data.createdAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
      <td>{{ data.updatedAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
    </tr>
  </tbody>
</nz-table>
