<page-header></page-header>
<button nz-button (click)="addRow()" [nzType]="'primary'">
  <i nz-icon nzType="plus"></i>
  <span>新建</span>
</button>
<br />
<br />
<nz-table
  nzShowSizeChanger
  [nzData]="listOfData"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
  nzTableLayout="fixed"
  #editRowTable
>
  <thead>
    <tr>
      <th>试题ID</th>
      <th nzColumnKey="type" [nzFilters]="filterType" [nzFilterMultiple]="false" [nzFilterFn]="true">试题类型</th>
      <th>试题内容</th>
      <th nzColumnKey="chapter_id" [nzFilters]="filterChapterId" [nzFilterMultiple]="false" [nzFilterFn]="true">章节ID</th>
      <th nzColumnKey="createdAt" [nzSortFn]="true">创建时间</th>
      <th nzColumnKey="updatedAt" [nzSortFn]="true">修改时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <ng-container>
        <td>{{ data.id }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.content }}</td>
        <td>{{ data.chapterId }}</td>
        <td>{{ data.createdAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
        <td>{{ data.updatedAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
        <td>
          <a (click)="startEdit(data.id)" class="save">编辑</a>
          <a (click)="deleteRow(data.id)">删除</a>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>
