<div>
  <h2>{{ questionId ? '修改试题' : '创建试题' }}</h2>
  <nz-form-item>
    <nz-form-label nzRequired>所属章节</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 360px" [(ngModel)]="selectChapter" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
        <nz-option *ngFor="let i of chapterOptions" [nzLabel]="i.text" [nzValue]="i"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>试题类型</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 360px" [(ngModel)]="selectType" [nzPlaceHolder]="'请选择'" [nzShowSearch]="false">
        <nz-option *ngFor="let i of typeOptions" [nzLabel]="i.text" [nzValue]="i"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div *ngIf="!previewOn">
    <nz-space nzDirection="vertical">
      <nz-space-item>
        <nz-form-label nzRequired>试题题目</nz-form-label>
        <textarea nz-input placeholder="试题题目" [(ngModel)]="content" nzAutosize></textarea>
      </nz-space-item>
      <nz-space-item>
        <nz-form-label class="not-required">试题图片</nz-form-label>
        <nz-upload [(nzFileList)]="imagesList" [nzBeforeUpload]="beforeUpload" [nzRemove]="removeImage">
          <button nz-button [disabled]="imagesList.length > 0"><i nz-icon nzType="upload"></i>可选</button>
        </nz-upload>
      </nz-space-item>
      <nz-space-item>
        <nz-form-label class="not-required">试题解析</nz-form-label>
        <textarea nz-input placeholder="试题解析" [(ngModel)]="explanation" nzAutosize></textarea>
      </nz-space-item>
      <nz-space-item *ngIf="selectType.value === 1">
        <nz-form-label nzRequired>选项</nz-form-label>
        <div>
          <nz-radio-group [(ngModel)]="radioValue" *ngFor="let answer of answerList; let i = index">
            <div style="float: left; margin-top: auto">
              <label nz-radio [nzValue]="i"></label>
              <textarea placeholder="选项内容" nz-input [(ngModel)]="answer.content" nzAutosize></textarea>
            </div>
          </nz-radio-group>
          <div>
            <ul class="alain-default__nav">
              <li class="alain-default__nav-item" (click)="addInput()">
                <i nz-icon nzType="plus-circle" nzTheme="twotone"></i>
              </li>
              <li class="alain-default__nav-item" (click)="removeLastInput()">
                <i nz-icon nzType="minus-circle" nzTheme="twotone"></i>
              </li>
            </ul>
          </div>
        </div>
      </nz-space-item>
      <div *ngIf="selectType.value === 2">
        <nz-space nzDirection="vertical">
          <nz-space-item>
            <nz-form-label>选项</nz-form-label>
          </nz-space-item>
          <nz-space-item *ngFor="let answer of answerList">
            <label class="check-box" nz-checkbox [(ngModel)]="answer.isSelected"></label>
            <textarea placeholder="选项内容" nz-input [(ngModel)]="answer.content" nzAutosize></textarea>
          </nz-space-item>
        </nz-space>
        <ul class="alain-default__nav">
          <li class="alain-default__nav-item" (click)="addInput()">
            <i nz-icon nzType="plus-circle" nzTheme="twotone"></i>
          </li>
          <li class="alain-default__nav-item" (click)="removeLastInput()">
            <i nz-icon nzType="minus-circle" nzTheme="twotone"></i>
          </li>
        </ul>
      </div>
    </nz-space>
  </div>
  <div *ngIf="previewOn">
    <nz-space nzDirection="vertical">
      <nz-space-item>
        <nz-form-label nzRequired>试题题目</nz-form-label>
        <div mathjax>{{ content }}</div>
      </nz-space-item>
      <nz-space-item>
        <nz-form-label class="not-required">试题图片</nz-form-label>
        <div>
          <a *ngIf="imagesList[0]" [href]="imagesList[0].url" target="_blank">
            <img [src]="imagesList[0].url" />
          </a>
          <a *ngIf="imageLocalUrl" [href]="imageLocalUrl" target="_blank">
            <img [src]="imageLocalUrl" />
          </a>
        </div>
      </nz-space-item>
      <nz-space-item>
        <nz-form-label class="not-required">试题解析</nz-form-label>
        <div mathjax>{{ explanation }}</div>
      </nz-space-item>
      <nz-space-item>
        <nz-form-label nzRequired>选项</nz-form-label>
        <div *ngIf="selectType.value === 1">
          <div mathjax *ngFor="let answer of answerList; let i = index">
            <i class="option-icon" *ngIf="radioValue === i" nz-icon nzType="check-circle" nzTheme="twotone"></i>
            <i class="option-icon" *ngIf="radioValue != i" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#eb2f96'"></i>
            {{ answer.content }}
          </div>
        </div>
        <div *ngIf="selectType.value === 2">
          <div mathjax *ngFor="let answer of answerList; let i = index">
            <i class="option-icon" *ngIf="answer.isSelected" nz-icon nzType="check-circle" nzTheme="twotone"></i>
            <i
              class="option-icon"
              *ngIf="!answer.isSelected"
              nz-icon
              nzType="close-circle"
              nzTheme="twotone"
              [nzTwotoneColor]="'#eb2f96'"
            ></i>
            {{ answer.content }}
          </div>
        </div>
      </nz-space-item>
    </nz-space>
  </div>
  <div *nzModalFooter>
    <button *ngIf="!previewOn" nz-button nzType="default" (click)="preview(true)">预览</button>
    <button *ngIf="previewOn" nz-button nzType="default" (click)="preview(false)">取消预览</button>
    <button nz-button nzType="default" (click)="cancle()">取消</button>
    <button nz-button nzType="primary" (click)="ok()">确认</button>
  </div>
</div>
