<div>
  <h2>{{ questionId ? '修改试题' : '创建试题' }}</h2>
  <span>试题类型 :</span>
  <input type="number" nz-input placeholder="试题类型" [(ngModel)]="type" />
  <br />
  <br />
  <span>试题题目 :</span>
  <input type="text" nz-input placeholder="试题题目" [(ngModel)]="content" />
  <br />
  <br />
  <span>试题解析 :</span>
  <input type="text" nz-input placeholder="试题解析" [(ngModel)]="explanation" />
  <br />
  <br />
  <span>章节编号 :</span>
  <input type="number" nz-input placeholder="章节编号" [(ngModel)]="chapterId" />
  <br />
  <br />
  <span>选项 :</span>
  <div>
    <nz-radio-group [(ngModel)]="radioValue" *ngFor="let answer of answerList; let i = index">
      <div style="float: left">
        <label nz-radio [nzValue]="i"></label>
        <input type="text" placeholder="选项内容" nz-input [(ngModel)]="answer.content" />
      </div>
    </nz-radio-group>
    <div>
      <ul class="alain-default__nav">
        <li class="alain-default__nav-item" (click)="addInput()">
          <i nz-icon nzType="plus-circle" nzTheme="twotone"></i>
        </li>
        <li class="alain-default__nav-item" (click)="removeLastInput()">
          <i nz-icon nzType="minus-circle" nzTheme="twotone"></i>
        </li>
      </ul>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancle()">取消</button>
    <button nz-button nzType="primary" (click)="ok()">确认</button>
  </div>
</div>
